@import url(color/pink.css);
@import url(color/purple.css);
@import url(color/test.css);


:root {
    --body-width: 30rem;
    --body-padding: 1.2rem;

    --gap: 1.5rem;
    --duration: 30s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));

    --button-color: #99780005;
    --button-text: var(--text-color);

    --badge-color: #fee7ba4a;
    --badge-hover-color: #fee7ba4a;
    --badge-text: #be551d !important;
    --badge-hover-text: #be551d !important;


    --badge-color: #9978001a;
    --badge-hover-color: #9978002a;
    --badge-text: #2d2d2d !important;
    --badge-hover-text: #2d2d2d !important;
    --badge-font-size: 1.15rem !important;
    --badge-font-weight: 500;
    --badge-padding: .5rem;
    --badge-border-radius: .75rem;


}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: var(--unspoken-app-text-dark);
    font-family: var(--body-font) !important;
}

span,
input,
button,
div {
    font-family: var(--body-font) !important;
}

.card {
    background: var(--unspoken-card-bg);
}

/* UNSPOKEN SEARCH INPUT */

.unspoken-input {
    --text: #646B8C;
    --text-placeholder: #BBC1E1;
    --border: #D1D6EE;
    --border-hover: #A6ACCD;
    --border-focus: #4975E9;
    --shadow-focus: #4975E93a;
    position: relative;
    max-width: 220px;
    padding: 0;
    background: #fff;
}

.unspoken-input input {
    width: 100%;
    height: 48px;
    padding: 1rem 1.5rem;
    outline: none;
    line-height: 26px;
    border-radius: 8px;
    color: var(--text);
    border: 2px solid var(--bc, var(--border));
    transition: all 0.1s ease-in-out;
    background: transparent;
    z-index: 2;
    position: relative;
}

.unspoken-input label {
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    left: 1rem;
    transition: all .3s;
    background-image: linear-gradient(to bottom, #FFFDFB, #FFFDFB);
    padding: 0 4px;
    z-index: 1;
    stroke: var(--unspoken-app-text-dark);
    font-size: 14px;
}

.unspoken-input input:focus {
    border-color: var(--unspoken-app-text-dark);
}

.unspoken-input input:focus+label,
.unspoken-input input:not(:placeholder-shown)+label {
    top: 0rem;
    transform: translate(0, -50%);
    z-index: 10;
    left: .5rem;
    color: var(--unspoken-app-text-dark);
    stroke: var(--unspoken-app-text-dark);
    scale: .9;
}

.unspoken-input input:not(:placeholder-shown) {
    border-color: var(--unspoken-app-text-dark);
}


.unspoken-input input::-moz-placeholder {
    color: var(--text-placeholder);
}

.unspoken-input input:-ms-input-placeholder {
    color: var(--text-placeholder);
}

.unspoken-input input::placeholder {
    color: var(--text-placeholder);
}

.unspoken-input svg {
    margin-bottom: 0.33331rem;
    width: 1.5rem;
    height: 1.5rem;
    stroke: inherit;
}

.unspoken-input path {
    stroke: inherit;
}

/* UNSPOKEN TOPBAR */

.unspoken-topbar {
    position: absolute;
    z-index: 99999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: transparent;
    height: fit-content;
    padding: var(--body-padding);
    background: linear-gradient(180deg, #f475580a, transparent);
}


.unspoken-avatar-group {
    display: flex;
    flex-direction: row;
}

.unspoken-avatar-group .home-avatar {
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
    box-shadow: 1px 1px 54px #f475583a;
}

.unspoken-avatar-group .avatar-title {
    height: fit-content;
    margin: auto;
    color: var(--unspoken-app-text-dark);
    font-size: 1.2rem;
    font-weight: 700;
}

.unspoken-right-icon {
    display: flex;
    flex-direction: row;
}

.unspoken-right-icon .home-right-icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    background: var(--unspoken-topbar-icon-bg);
    border-radius: .75rem;
    box-shadow: 1px 1px 54px var(--unspoken-topbar-box-shadow);
}

.unspoken-right-icon .home-right-icon svg {
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
}

.unspoken-right-icon .home-right-icon svg path {
    stroke: var(--unspoken-app-text-dark);
}


.unspoken-left-icon {
    display: flex;
    flex-direction: row;
}

.unspoken-left-icon .home-left-icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    background: var(--unspoken-topbar-icon-bg);
    border-radius: .75rem;
    box-shadow: 1px 1px 54px var(--unspoken-topbar-box-shadow);
}

.unspoken-left-icon .home-left-icon svg {
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
}

.unspoken-left-icon .home-left-icon svg path {
    stroke: var(--unspoken-app-text-dark);
}


/* UNSPOKEN SEARCH BAR */

.unspoken-home-search-wrapper {
    width: 100%;
    height: fit-content;
    padding: 0;
    border-radius: 1rem;
    position: relative;
    margin-bottom: 2rem;
    background: #fcfdfd;
    box-shadow: 10px 10px 56px #dedfdf,
        -10px -10px 56px #ffffff;
}

.unspoken-home-search-wrapper .unspoken-search {
    width: 100%;
    height: 4rem;
    padding: 1.5rem 2rem .4rem 2rem;
    outline: none;
    font-size: 1.3rem;
    border-radius: 1rem;
    color: var(--text);
    border: none;
    transition: all 0.1s ease-in-out;
    background: transparent;
    z-index: 2;
    position: relative;
}



.unspoken-home-search-wrapper label {
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    left: 1rem;
    transition: all .3s;
    /* background-image: linear-gradient(to bottom, #FFFDFB, #FFFDFB); */
    padding: 0 4px;
    z-index: 1;
    color: #BBC1E1;
    fill: #BBC1E1;
    font-size: 1.5rem;
}

.unspoken-home-search-wrapper input:focus {
    border-color: var(--unspoken-app-text-dark);
}

.unspoken-home-search-wrapper input:focus+label,
.unspoken-home-search-wrapper input:not(:placeholder-shown)+label {
    top: 0rem;
    transform: translate(0, -20%);
    z-index: 10;
    left: 0rem;
    color: #D1D6EE;
    fill: #D1D6EE;
    scale: .579;
}

.unspoken-home-search-wrapper input:not(:placeholder-shown) {
    border-color: var(--unspoken-app-text-dark);
}



.unspoken-home-search-wrapper svg {
    margin-bottom: 0.33331rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: inherit;
    margin-right: .5rem;
}

.unspoken-home-search-wrapper path {
    fill: inherit;
}



/* UNSPOKEN CARDS */

.unspoken-card-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.unspoken-card {
    width: 48%;
    height: 23.5rem;
    background-color: var(--unspoken-card-bg);
    border-radius: 1rem;
    overflow: hidden;
    transition: all .5s ease-in-out;
    margin: auto;
    margin-bottom: 1rem;
    /* box-shadow: 3px -3px 54px #f475583a; */
    /* border: 1px solid var(--unspoken-card-bg); */
}

.unspoken-card-header {
    height: 15rem;
    overflow: hidden;
    position: relative;
}

.unspoken-card img {
    transition: all .5s ease-in-out;
}

.unspoken-card:hover img {
    scale: 1.05;
}

.unspoken-card-body {
    padding: 1rem;
}

.unspoken-card-body .unspoken-title {
    font-size: 1.1rem;
    color: var(--unspoken-card-title);
}

.unspoken-card-body a {
    color: var(--unspoken-card-link);
}

.unspoken-like-button {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: var(--unspoken-card-like-button-bg);
    z-index: 100;
    top: 1rem;
    right: 1rem;
    border-radius: .75rem;
    display: flex;
    border: 1px solid var(--unspoken-card-like-button-border);
}


.unspoken-card .unspoken-like-button svg path {
    fill: var(--unspoken-card-like-button-fill);
}

.unspoken-card .active svg path {
    fill: var(--unspoken-app-text-dark)
}

.unspoken-card-header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background: var(--unspoken-image-overlay);
}

.unspoken-card-price-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    margin-top: 1rem;
}

.unspoken-price-integer {
    font-size: 2rem;
    color: var(--unspoken-card-price);
}

.unspoken-price-decimal {
    font-size: 1rem;
}

.unspoken-card-cart-wrapper {
    width: 2.5rem;
    height: 2.5rem;
    background: var(--unspoken-card-btn-bg);
    border-radius: .75rem;
    display: flex;
    position: relative;
}

/* APP CONTENT */

.unspoken-content {
    max-width: var(--body-width);
    background: var(--unspoken-app-bg) !important
}

.unspoken-inner-wrapper {
    width: 100%;
    position: relative;
    padding: 6rem var(--body-padding)
}

.unspoken-heading {
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.9rem;
    color: var(--unspoken-app-text-dark);
    margin-top: 1.2rem
}


/* CART PAGE */
.unspoken-cart-card-wrapper {
    padding: 1rem;
}

.unspoken-cart-card {
    height: 7rem;
    background-color: var(--unspoken-cart-card-bg);
    border-radius: 0.75rem;
    overflow: hidden;
    transition: all .5s ease-in-out;
    margin: auto;
    margin-bottom: 1rem;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    box-shadow: 1px 1px 54px #173b2c1a;
}

.unspoken-cart-card .unspoken-image-area {
    height: 100%;
    overflow: hidden;
    width: 7rem;
    border-radius: inherit;
    position: relative;
}

.unspoken-cart-card .unspoken-text-area {
    min-width: 12rem;
    max-width: 15rem;
    padding: 0rem 0;
    position: relative;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.unspoken-cart-card .unspoken-text-area p {
    font-size: 1.2rem;
    color: var(--unspoken-app-text-dark);
    margin-bottom: 0;
}

.unspoken-cart-card .unspoken-icon-area {
    padding: 0rem 0;
    width: 3rem;
    max-width: 4rem;
    position: relative;
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.unspoken-cart-card .unspoken-icon-area path {
    fill: var(--unspoken-app-text-dark);
}

.unspoken-promo-code {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    width: 100%;
    height: 4rem;
    background: var(--unspoken-card-bg);
    border-radius: .75rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unspoken-promo-code input {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    letter-spacing: .1em;
    outline: none;
    color: var(--unspoken-app-text-dark);
    /* text-transform: uppercase; */
}

.unspoken-promo-code button {
    color: var(--unspoken-app-text-dark);
    background: var(--unspoken-app-dark-bg);
    height: 100%;
    border: none;
    outline: none;
    padding: 0.75rem 3rem;
    border-radius: 0.75rem;
}


.unspoken-promo-code input::-moz-placeholder {
    color: var(--unspoken-app-placeholder);
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.unspoken-promo-code input:-ms-input-placeholder {
    color: var(--unspoken-app-placeholder);
    -ms-transition: color 0.2s;
    transition: color 0.2s;
}

.unspoken-promo-code input::placeholder {
    color: var(--unspoken-app-placeholder);
    transition: color 0.2s;
}

.unspoken-checkout-button {
    color: var(--unspoken-app-text-light);
    background: var(--unspoken-app-text-dark);
    width: 80%;
    margin: auto;
    height: 3.5rem;
    border: none;
    outline: none;
    border-radius: 1.2rem;
    margin-top: 1rem;
    left: 50%;
    font-size: 1.2rem;
    transform: translate(-50%);
}

.unspoken-cover-padding {
    padding-top: 22rem;
}

.unspoken-shop-image-wrapper {
    position: absolute;
    display: flex;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 18rem;
}

.unspoken-shop-cover-image {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.unspoken-shop-cover-image svg {
    position: absolute;
    display: block;
    bottom: 0rem;
}

.unspoken-shop-profile-image {
    width: 10em;
    height: 10em;
    overflow: hidden;
    border-radius: 50%;
    bottom: calc(0% - 3.5rem);
    position: absolute;
}

.unspoken-shop-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    text-align: center;
}

.unspoken-shop-title {
    font-size: 1.7rem;
}

.unspoken-shop-follow {
    width: 10rem;
    height: 3.5rem;
    background: var(--unspoken-app-text-dark);
    color: var(--unspoken-app-text-light);
}

.unspoken-shop-donate {
    width: 10rem;
    height: 3.5rem;
    background: var(--unspoken-topbar-icon-bg);
    color: var(--unspoken-app-text-dark);
    font-size: 1.1rem;
    box-shadow: 1px 1px 64px var(--unspoken-topbar-box-shadow);
}

.unspoken-shop-featured {
    width: 100%;
    height: 50vh;
    padding: 1rem 0;
    text-align: left;
    color: var(--text-color);
}

.unspoken-image-product-detail {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    ;
}

.unspoken-cover-product-detail {
    width: 100%;
    height: 60vh;
    padding: 0rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 1px 1px 54px var(--unspoken-topbar-box-shadow);
}

/* 
.unspoken-product-detail-content-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    width: 100%;
    height: 55%;
    border-radius: .15rem;
    box-shadow: -1px -1px 54px var(--unspoken-topbar-box-shadow);
    padding: var(--body-padding);
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(180deg, #eff2f15a, transparent);
    backdrop-filter: blur(100px);
} */

.unspoken-product-detail-cover {
    position: fixed;
    max-width: var(--body-width);
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 46vh;
    display: flex;
    justify-content: center;
}

.unspoken-product-detail-content-box-wrapper {
    padding-top: 45vh;
    height: fit-content;
}

.unspoken-product-detail-content-box {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
    border-radius: 1rem 1rem 0 0;
    box-shadow: -1px -1px 54px var(--unspoken-topbar-box-shadow);
    padding: var(--body-padding);
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(180deg, var(--unspoken-app-bg), #fff 10%);
    backdrop-filter: blur(20px);
}

.unspoken-smart-image-cropper {
    position: relative;
}

.unspoken-smart-image-cropper::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f4755808;
}

.unspoken-bottom-image-wrapper {
    width: fit-content;
    margin: 0 auto;
    position: absolute;
    bottom: .8rem;
}

.unspoken-bottom-image-wrapper .unspoken-bottom-image {
    width: 3.4rem;
    height: 3.4rem;
    border: .2rem solid #fff;
    padding: 0;
    margin: 0;
    box-shadow: 1px 1px 54px var(--unspoken-topbar-box-shadow);
    margin: 0 .2rem;
    border-radius: 1rem;
    transition: all .5s ease-in-out;
}

.unspoken-bottom-image-wrapper .unspoken-bottom-image:hover {
    scale: 1.1;
}

.product-detail-btn-sm {
    width: 3.4rem;
    height: 3.4rem;
    background: #fff;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 54px var(--unspoken-topbar-box-shadow);
}

.product-detail-btn-lg {
    width: 12rem;
    height: 3.4rem;
    background: var(--unspoken-app-text-dark);
    border: none;
    padding: .5rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 54px var(--unspoken-topbar-box-shadow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
}

.unspoken-navbar-wrapper {
    max-width: var(--body-width);
    padding: .5rem;
    width: 95%;
    height: 4rem;
    position: fixed;
    background: rgba(252, 253, 253, 0.97);
    box-shadow: 1px 1px 54px var(--unspoken-topbar-box-shadow);
    z-index: 999999999999;
    bottom: .5rem;
    left: .7rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unspoken-navbar {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    display: flex;
    transition: all .5s ease-in-out;
}

.unspoken-navbar svg {
    width: 20px;
    height: 20px;
    margin: auto;
}

.unspoken-navbar svg path {
    stroke-width: 2;
    stroke: var(--unspoken-app-text-dark);
}

.unspoken-navbar:hover {
    box-shadow: 1px 1px 54px var(--unspoken-topbar-box-shadow);
}

.special-svg-filter {
    transition: all 1s ease-in-out;
}

.special-svg-filter svg {
    fill: var(--unspoken-app-text-dark);
    transition: all .16s ease-in-out;
}

.special-svg-filter:hover svg {
    filter: drop-shadow(2px 2px 10px #307ef3ef) drop-shadow(-2px -2px 10px #307ef3ef);
    fill: #307ef3;
}


.special-svg-filter-stroke {
    transition: all 1s ease-in-out;
}

.special-svg-filter-stroke svg {
    stroke: var(--unspoken-app-text-dark);
    transition: all .16s ease-in-out;
}

.special-svg-filter-stroke:hover svg {
    filter: drop-shadow(5px 10px 15px #307ef39a) drop-shadow(-5px -10px 15px #307ef39a);
    stroke: #307ef3;
}


.unspoken-toolbar-wrapper {
    max-width: calc(var(--body-width) - 1rem);
    padding: .5rem;
    width: 95%;
    height: 4rem;
    position: fixed;
    background: rgba(252, 253, 253, 0.97);
    box-shadow: 1px 1px 54px var(--unspoken-topbar-box-shadow);
    z-index: 999999999999;
    bottom: .5rem;
    left: .7rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unspoken-toolbar {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    display: flex;
    transition: all .2s ease-in-out;
}

.unspoken-toolbar svg {
    width: 20px;
    height: 20px;
    margin: auto;
}

.unspoken-toolbar svg path {
    stroke-width: 1.5;
    stroke: var(--unspoken-app-text-dark);
}

.unspoken-toolbar:hover {
    box-shadow: 1px 1px 54px var(--unspoken-topbar-box-shadow);
    width: 6rem;
}