/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================
	--gray-50: #FFAE79;
    --gray-600: hsl(218, 17%, 35%);
    --gray-700: #FFAE793a;
    --gray-800: #FFAE795a;
    --gray-900: hsl(230, 21%, 11%);
    --gap: 1.5rem;
    --duration: 30s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


@font-face {
	font-family: SFPro;
	src: url(../SFFonts/SF-Pro-Rounded-Regular.otf);
	font-display: swap;
}

@font-face {
	font-family: SFProLight;
	src: url(../SFFonts/SF-Pro-Rounded-Light.otf);
	font-display: swap;
}

@font-face {
	font-family: SFProMedium;
	src: url(../SFFonts/SF-Pro-Rounded-Medium.otf);
	font-display: swap;
}

@font-face {
	font-family: SFProSemiBold;
	src: url(../SFFonts/SF-Pro-Rounded-Semibold.otf);
	font-display: swap;
}


@font-face {
	font-family: SFProBold;
	src: url(../SFFonts/SF-Pro-Rounded-Bold.otf);
	font-display: swap;
}


@font-face {
	font-family: lulu;
	src: url(lulu.woff2);
	font-display: swap;
}

@font-face {
	font-family: Nectarine;
	src: url(Nectarine.woff2);
	font-display: swap;
}


/* @font-face {
	font-family: Nectarine;
	src: url(Brilliant.woff2);
	font-display: swap;
} */



:root {
	--body-width: 30rem;
	--body-font: SFPro;
	--body-padding: 1.2rem;
	--text-color: #E74F4E;
	--bg-color-light: #fff;
	--bg-color: #FFAE79;
	--bg-color-0a: #FFAE7905;
	--bg-color-1a: #FFAE791a;
	--bg-color-2a: #FFAE792a;
	--bg-color-3a: #FFAE793a;
	--bg-color-4a: #FFAE794a;
	--bg-color-5a: #FFAE795a;
	--bg-color-6a: #FFAE796a;
	--bg-color-7a: #FFAE797a;
	--bg-color-8a: #FFAE798a;
	--bg-color-9a: #FFAE799a;
	--gap: 1.5rem;
	--duration: 30s;
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap))
		/* buttons */
		--button-color: var(--bg-color-3a);
	--button-text: var(--text-color);
	/* badges */
	--badge-color: var(--bg-color-1a);
	--badge-hover-color: var(--bg-color-5a);
	--badge-text: var(--text-color);
}

:root {
	--body-width: 30rem;
	--body-font: SFPro;
	--body-padding: 1.2rem;
	--text-color: #065068;
	--bg-color-light: #ffffff;
	--bg-color: #ffffff;
	--bg-color-0a: #fafafa;
	--bg-color-1a: #ffffff1a;
	--bg-color-2a: #ffffff2a;
	--bg-color-3a: #ffffff3a;
	--bg-color-4a: #ffffff4a;
	--bg-color-5a: #ffffff5a;
	--bg-color-6a: #ffffff6a;
	--bg-color-7a: #ffffff7a;
	--bg-color-8a: #ffffff8a;
	--bg-color-9a: #ffffff9a;
	--gap: 1.5rem;
	--duration: 30s;
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap)) --button-color: var(--bg-color-3a);
	--button-text: var(--text-color);

	--badge-color: #28c76f1f;
	--badge-hover-color: #28c76f1f;
	--badge-text: #28c76f !important;
	--badge-hover-text: #28c76f !important;
	--badge-font-size: 1rem;
	--badge-font-weight: 600;
	--badge-padding: .5rem;
	--badge-border-radius: .5rem;
}

/* 
:root {
	--body-width: 30rem;
	--body-font: SFPro;
	--body-padding: 1.2rem;
	--text-color: #5F3037;
	--bg-color-light: #fff;
	--bg-color: #EFCCB2;
	--bg-color-0a: #EFCCB205;
	--bg-color-1a: #EFCCB21a;
	--bg-color-2a: #EFCCB22a;
	--bg-color-3a: #EFCCB23a;
	--bg-color-4a: #EFCCB24a;
	--bg-color-5a: #EFCCB25a;
	--bg-color-6a: #EFCCB26a;
	--bg-color-7a: #EFCCB27a;
	--bg-color-8a: #EFCCB28a;
	--bg-color-9a: #EFCCB29a;
	--gap: 1.5rem;
	--duration: 30s;
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap))
		
	--button-color: var(--bg-color-3a);
	--button-text: var(--text-color);
	
	--badge-color: var(--bg-color-1a);
	--badge-hover-color: var(--bg-color-5a);
	--badge-text: var(--text-color);
} */

:root {
	--body-width: 30rem;
	--body-font: lulu;
	--body-padding: 1.2rem;
	--text-color: #2d2d2d;
	--bg-color-light: #fff;
	--bg-color: #997800;
	--bg-color-0a: #fff;
	--bg-color-1a: #9978001a;
	--bg-color-2a: #9978002a;
	--bg-color-3a: #9978003a;
	--bg-color-4a: #9978004a;
	--bg-color-5a: #9978005a;
	--bg-color-6a: #9978006a;
	--bg-color-7a: #9978007a;
	--bg-color-8a: #9978008a;
	--bg-color-9a: #9978009a;
	--gap: 1.5rem;
	--duration: 30s;
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap));

	--button-color: #99780005;
	--button-text: var(--text-color);



	--badge-color: #fee7ba4a;
	--badge-hover-color: #fee7ba4a;
	--badge-text: #be551d !important;
	--badge-hover-text: #be551d !important;
	

	--badge-color: #9978001a;
	--badge-hover-color: #9978002a;
	--badge-text: #2d2d2d !important;
	--badge-hover-text: #2d2d2d !important;
	--badge-font-size: 1.15rem !important;
	--badge-font-weight: 500;
	--badge-padding: .5rem;
	--badge-border-radius: .75rem;


}



/* Green Colors */

/* :root {
	--body-width: 30rem;
	--body-font: SFPro;
	--body-padding: 1.2rem;
	--text-color: #11471c;
	--bg-color-light: #fff;
	--bg-color: #006400;
	--bg-color-0a: #00640005;
	--bg-color-1a: #0064001a;
	--bg-color-2a: #0064002a;
	--bg-color-3a: #0064003a;
	--bg-color-4a: #0064004a;
	--bg-color-5a: #0064005a;
	--bg-color-6a: #0064006a;
	--bg-color-7a: #0064007a;
	--bg-color-8a: #0064008a;
	--bg-color-9a: #0064009a;
	--gap: 1.5rem;
	--duration: 30s;
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap))
}  */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	color: var(--text-color);
	font-family: var(--body-font) !important;
}

span,
input,
button,
div {
	font-family: var(--body-font) !important;
}

.card {
	background: #9978003a;
}

.card-image-overlay::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 13rem;
	z-index: 1000000;
	background-image: linear-gradient(to bottom, #99780005 90%, #9978003a 99%);
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--text-color);
	opacity: 1;
	/* Firefox */
}

.app-content {
	background: var(--bg-color-0a) !important;
}

#imageBox:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .7) 100%)
}

.hiddenCanvas {
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0;
	z-index: -11111111;
}

.lastSeenHolderWrapper {
	position: relative;
	width: 100%;
	height: 4.193rem;
	border-radius: 1.6rem;
	background: transparent;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	overflow: auto;
}


.lastSeenHolder {
	position: relative;
	width: 4.193rem;
	height: 4.193rem;
	border-radius: 1.6rem;
	z-index: 1000;
	margin-bottom: .51rem;
	overflow: hidden;
	margin: 0 1rem;
}

.sideHolderWrapper {
	position: absolute;
	width: 4.193rem;
	height: 18rem;
	border-radius: 1.6rem;
	background: transparent;
	z-index: 1000;
	bottom: 1rem;
	right: var(--body-padding);
	/* box-shadow: 12px 12px 32px var(--text-color)1a;
	background: var(--text-color)0a; */
}


.sideHolder {
	position: relative;
	width: 4.193rem;
	height: 4.193rem;
	border-radius: 1.6rem;
	z-index: 1000;
	margin-bottom: .51rem;
	overflow: hidden;

}

.sideHolderWrapper .active {
	width: 4.393rem;
	height: 4.393rem;
	border: .2rem solid var(--text-color);
}

.sideHolderCount {
	display: flex;
	font-size: 1.2rem;
	font-weight: 500;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #011605cc;
	/* background: radial-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 80%)); */
}

.sideHolderOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 100, 0, 0.0382);
	/* background: radial-gradient(rgb(71 68 68 / 20%), rgb(57 54 54 / 50%)); */
}